<%-include("templete.ejs")-%> 
<body>
    <!-- <div class="logo">My Logo</div> -->
            <div class="logo quote-box"> <h1 class="quote">
                <img src="Crop-eraLogo.png">
                <br>
                Welcome to <span class="crop-era">"CropEra"</span></h1>
                <h1 class="quote">Where Technolgy meets growth for</h1>
                <h1 class="quote">next-level crop monitoring and yield success.</h1>
            </div>
            <div class="container">
                <div class="login-box sign-up-box">
                    <div class="photo"></div>
                    <h2 style="font-weight: 600;">Sign-Up</h2>
                    <div class="textbox">
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="textbox">
                        <input type="password" placeholder="password" required>
                    </div>
                    <div class="sign-optn">
                        <div>
                        <button type="button" class="btn btn-light" style="width: auto; "><a href="/signin" style="align-items: center;">Sign Up</a> </button>  
                      </div>
                      
                       
                  </div>
                </div>
               
            </div>
           
     
        
  
</body>
</html>
